.account-container {
  display: flex;
  flex-direction: column;
}

.input-container {
  width: 100%;
  margin: 0.5rem;

  .label {
      font-weight: bold;
      height: 1.5rem;
      margin-top: 0.75rem;
      color: #6b7280; /* Gris */
      font-size: 0.75rem; /* xs */
      text-transform: uppercase;
      line-height: 2;
  }

  .input-box {
      background-color: white;
      margin: 0.5rem 0;
      padding: 0.25rem;
      display: flex;
      border: 1px solid #e5e7eb; /* Gris clair */
      border-radius: 0.25rem; /* 4px */
  }

  .input-field {
      padding: 0.25rem 0.5rem;
      outline: none;
      width: 100%;
      color: #1f2937; /* Gris foncé */
  }
}
